#
# Edit this file to contain your platform specific options and save it as Makefile.inc
#


#The folder which contains the WMAP likelihood
WMAPDIR = 

#Link flags needed to link the CFITSIO library 
CFITSIO = 

#Link flags needed to link the LAPACK library
LAPACK = 

#Extra flags needed for f2py
F2PYFLAGS = 
